@import '~react-flex/index.css';

.react-tab-panel,
.react-tab-panel__tab-strip {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.react-tab-panel {
  display: inline-flex;
  width: 100%;
}

.react-tab-panel--tab-position-top,
.react-tab-panel--tab-position-bottom {
  flex-flow: column;
}

.react-tab-panel--tab-position-left,
.react-tab-panel--tab-position-right {
  flex-flow: row;
}

.react-tab-panel__body {
  flex: 1 1 auto;
  overflow: auto;
}

//tabstrip
.react-tab-panel__tab-strip {
  position: relative;
  flex: none;

  &--tab-position-top,
  &--tab-position-bottom {
    .react-tab-panel__tab-strip-before,
    .react-tab-panel__tab-strip-after {
      min-width: 10px;
    }
  }

  &--tab-position-left,
  &--tab-position-right {
    .react-tab-panel__tab-strip-before,
    .react-tab-panel__tab-strip-after {
      min-height: 10px;
    }
  }
}

.react-tab-panel__tab-strip-inner {
  flex: 1 0 auto;
}

//tabAlign: start
.react-tab-panel__tab-strip--tab-align-start {
  .react-tab-panel__tab-strip-between,
  .react-tab-panel__tab-strip-before {
    flex: none;
  }
}

//tabAlign: center
.react-tab-panel__tab-strip--tab-align-center {
  .react-tab-panel__tab-strip-between {
    flex: none;
  }
}
//tabAlign: end
.react-tab-panel__tab-strip--tab-align-end {
  .react-tab-panel__tab-strip-between,
  .react-tab-panel__tab-strip-after {
    flex: none;
  }
}

//tabAlign: space-around
.react-tab-panel__tab-strip--tab-align-space-around {
  .react-tab-panel__tab-strip-before,
  .react-tab-panel__tab-strip-after,
  .react-tab-panel__tab-strip-between {
    // flex: 1 0 0;
    // flex: none;
  }
}

.react-tab-panel__tab-strip--tab-align-space-between {
  .react-tab-panel__tab-strip-before,
  .react-tab-panel__tab-strip-after {
    // flex: 1 0 0;
    flex: none;
  }
}

.react-tab-panel__tab-strip--tab-align-stretch {
  .react-tab-panel__tab-strip-before,
  .react-tab-panel__tab-strip-after,
  .react-tab-panel__tab-strip-between {
    // flex: 1 0 0;
    flex: none;
  }
  .react-tab-panel__tab-title,
  .react-tab-panel__tab-title-inner {
    flex: 1 0 auto; //0 for no shrink
    display: inline-flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
  }
}

.react-tab-panel__tab-title {
  cursor: pointer;
  display: inline-block;
  position: relative;

  white-space: nowrap;

  &-inner--ellipsis,
  &--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--disabled {
    cursor: default;
    user-select: none;
  }
}

.react-tab-panel__tab-strip--vertical {
  .react-tab-panel__tab-title-inner {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0px;
  }

  &.react-tab-panel__tab-strip--tab-position-left {
    .react-tab-panel__tab-title-inner {
      top: 100%;
      left: 0px;
      transform-origin: 0 0;
      transform: translate(0%, 0%) rotate(-90deg);
    }
  }

  &.react-tab-panel__tab-strip--tab-position-right {
    .react-tab-panel__tab-title-inner {
      left: 100%;
      top: 0px;
      transform-origin: 0 0;
      transform: translate(0%, 0%) rotate(90deg);
    }
  }
  .react-tab-panel__tab-title-inner--hidden {
    transform: none !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }
}

.react-tab-panel__tab-title--active {

}
