SCROLLER_BORDER_COLOR = darken(gray, 50%)

.basic-tabs
    .basic-tabs-strip
        .arrow
            top 50%
            left 50%
            display inline-block
            position absolute
            border-left 0px solid transparent
            border-right 0px solid transparent
    .basic-tabs-scroller
        background gray
        &.left
            border-right 1px solid SCROLLER_BORDER_COLOR
            .arrow
                transform translate3d(-75%, -50%, 0px)
                // transform translate3d(25%, 25%, 0px)

        &.right
            border-left 1px solid SCROLLER_BORDER_COLOR
            .arrow
                transform translate3d(-25%, -50%, 0px)
