$BG_COLOR: #428bca !default;
$PADDING: 10px !default;
$BORDER_RADIUS: 5px !default;
$THEME_NAME: 'default' !default;

$BORDER_COLOR: #ddd !default;
$BG_FOCUSED: #f9f9f9 !default;

.react-tab-panel--theme-#{$THEME_NAME} {

  .react-tab-panel__body {
    padding: 5px 10px;
  }

  &.react-tab-panel--tab-position-top {
    .react-tab-panel__body {
      border-right: 1px solid $BORDER_COLOR;
      border-left: 1px solid $BORDER_COLOR;
      border-bottom: 1px solid $BORDER_COLOR;
    }
  }

  &.react-tab-panel--tab-position-bottom {
    .react-tab-panel__body {
      border-right: 1px solid $BORDER_COLOR;
      border-left: 1px solid $BORDER_COLOR;
      border-top: 1px solid $BORDER_COLOR;
    }
  }

}

.react-tab-panel__tab-strip--theme-#{$THEME_NAME} {

  &.react-tab-panel__tab-strip--tab-align-stretch {
    .react-tab-panel__tab-strip-before,
    .react-tab-panel__tab-strip-after {
      flex: none;
    }
  }

  .react-tab-panel__tab-title-inner {
    padding: 5px 10px;
    text-align: center;
  }

  .react-tab-panel__tab-title:hover:not(.react-tab-panel__tab-title--active) {
    background: $BG_FOCUSED;
  }

  .react-tab-panel__tab-title--focused {
    outline: none;
  }

  &.react-tab-panel__tab-strip--tab-position-top,
  &.react-tab-panel__tab-strip--tab-position-bottom {

    .react-tab-panel__tab-title-inner--active {

      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0px;
        height: 100%;
      }

      &:before {
        left: 0px;
        border-left: 1px solid $BORDER_COLOR;
      }

      &:after {
        right: 0px;
        border-right: 1px solid $BORDER_COLOR;
      }
    }
  }

  &.react-tab-panel__tab-strip--tab-position-top {

    .react-tab-panel__body {
      border-top: 1px solid transparent;
    }

    .react-tab-panel__tab-strip-before,
    .react-tab-panel__tab-strip-after,
    .react-tab-panel__tab-strip-between,
    .react-tab-panel__tab-title-inner {
      border-bottom: 1px solid $BORDER_COLOR;
    }

    .react-tab-panel__tab-title-inner--active {
      border-bottom: 1px solid transparent;
    }

    .react-tab-panel__tab-title {
      border-top: 3px solid transparent;
    }

    .react-tab-panel__tab-title--active {
      border-top: 3px solid #4d7496;
    }

  }

  &.react-tab-panel__tab-strip--tab-position-bottom {

    .react-tab-panel__body {
      border-bottom: 1px solid transparent;
    }

    .react-tab-panel__tab-strip-before,
    .react-tab-panel__tab-strip-after,
    .react-tab-panel__tab-strip-between,
    .react-tab-panel__tab-title-inner {
      border-top: 1px solid $BORDER_COLOR;
    }

    .react-tab-panel__tab-title-inner--active {
      border-top: 1px solid transparent;
    }

    .react-tab-panel__tab-title {
      border-bottom: 3px solid transparent;
    }

    .react-tab-panel__tab-title--active {
      border-bottom: 3px solid #4d7496;
    }

  }

}
